* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #a5b1c2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #eee;
}

.container {
  background-color: #1e272e;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  display: flex;
  gap: 60px;
  box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.6), -5px -15px 20px rgba(0, 0, 0, 0.1);
}

.option-group {
  margin-bottom: 20px;
}

.option-title {
  font-weight: bold;
  margin-bottom: 10px;
  color: #0fbcf9;
}
.checkbox-container,
.radio-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
  transition: all 0.5s ease;
}

.checkbox-container input,
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 20px; /* Igual tamaño que el span visible */
  width: 20px;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 2; /* Para asegurarse que esté por encima */
}

.checkmark,
.radio-mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 2px solid #ccc;
  transition: all 0.5s ease;
}

.radio-mark {
  border-radius: 50%;
}

.checkbox-container:hover input ~ .checkmark,
.radio-container:hover input ~ .radio-mark {
  background-color: #ddd;
  border-color: #999;
}
.checkbox-container input:checked ~ .checkmark,
.radio-container input:checked ~ .radio-mark {
  background-color: #0fbcf9;
  border-color: #eee;
}
.checkmark::after,
.radio-mark::after {
  content: '';
  position: absolute;
  display: none;
}
.checkbox-container input:checked ~ .checkmark::after,
.radio-container input:checked ~ .radio-mark::after {
  display: block;
}

.checkbox-container .checkmark::after {
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.radio-container .radio-mark::after {
  left: 4px;
  top: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
}
