.contenedor {
  width: 200px;
  height: 200px;
  border: 1px solid;
  margin: 0 auto;
}

.flexbox {
  margin: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexbox1 {
  margin: 5px;
  width: 20px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
